
body {
    background-color: #1F1F1F;
}

.s1__p2__p1__p1-fontwhite {
    color: #cccccc;
}

.s1__p2__p1 {
    list-style-type: none;
}

.s1__p2__p1__p1-fontwhite {
    text-decoration: none;
}

.s1__p2__p1__p1-fonthavy {
    font: normal normal bold 28px/38px "Arial", sans-serif;
}
