@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat Regular'),
    url('./font/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local('Montserrat SemiBold'), local('Montserrat SemiBold'),
    url('./font/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Druk Text Wide';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: local('Druk Text Wide'), local('Druk Text Wide'),
    url('./font/DrukTextWide-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Druk Text Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Druk Text Wide'), local('Druk Text Wide'),
    url('./font/DrukTextWide-Medium.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1F1F1F;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

ol, ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.center {
    text-align: center;
}

.fontwhite {
    color: #cccccc;
}

.link {
    font: normal normal 400 16px/27px 'Montserrat', sans-serif;
}

a {
    display: block;
}

.show .logisticH2,
.year-upperline,
.upperline, .uperlinedesktop {
    position: relative;
}

.show .logisticH2::after,
.year-upperline::after,
.upperline::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    top: -20px;
}

.listworks__li {
    margin: 15px 10px;
}

/*.buttons start*/
.pulseback {
    position: relative;
}

.pulseback::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    background-color: #1378EF;
    animation: pulse 1.2s ease infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    50% {
        opacity: 0.3;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.blueback {
    background: #1378EF;
}

.bigbutton {
    position: relative;
    height: 204px;
    width: 204px;
    border-radius: 102px;
    margin: 50px auto;
}

.buttonmiddle {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 32px auto 0 5px;
}

.bluebutton {
    background: #1378EF;
    border-radius: 64px;
    padding: 0 15px;
    margin: 12px 5px;
}

.topics {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    padding: 0;
    margin: auto;
}

.connect {
    font: normal normal 400 16px/24px "Montserrat", sans-serif;
    display: block;
    width: 150px;
    line-height: 100px;
    position: absolute;
    left: 50px;
}

.listworks {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.listworks__blueball {
    position: absolute;
    top: 0;
    bottom: 0;
    /*! margin: auto; */
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #1378EF;
    z-index: -1;
}

.video__button {
    font: normal normal 400 14px/23px 'Montserrat', sans-serif;
    margin: auto 0 auto auto;
    width: 104px;
    height: 24px;
}

.finger:hover {
    cursor: pointer;
}

/*.buttons finish*/
/*.back-site start*/
.back-site {
    position: fixed;
    top: 0;
    height: 100%;
    z-index: -3;
    display: flex;
    justify-content: center;
    width: 125%;
    overflow: hidden;
    opacity: .2;
}

.vl1, .vl2, .vl3, .vl4 {
    width: 20%;
    box-shadow: 0 0 1px #d6d6d6 inset;
}

.vl1::after, .vl2::after, .vl3::after, .vl4::after {
    width: 4px;
    height: 20px;
    content: '';
    display: block;
    position: absolute;
    background-color: #fff;
    margin-left: -2px;
    top: -10%;
}

.vl1::after {
    animation: 30s linear 0s infinite normal move_bottom;
}

.vl2::after {
    animation: 30s linear 8s infinite normal move_bottom;
}

.vl3::after {
    animation: 30s linear 16s infinite normal move_bottom;
}

.vl4::after {
    animation: 30s linear 32s infinite normal move_bottom;
}

@-webkit-keyframes move_bottom {
    from {
        top: -10%;
    }
    to {
        top: 110%;
    }
}

.back-site__round-out, .back-site__round-in {
    display: block;
    top: 10%;
    left: 0;
    margin: auto 0 auto 12%;
    right: 0;
}

.back-site__round-out {
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 300px;
    border: 1px solid #FFF;
    opacity: .1;
    z-index: -1;
    left: 0;
    right: 0;
    margin: 7% 13% 0 auto;
}

.back-site__round-in {
    position: relative;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    top: 12.5%;
    background-color: #9c9c9c;
    transform: rotate(0);
    animation: 70s linear 0s infinite normal move_around;
    box-shadow: 0 0 16px #fff;
}

.back-site__round-in::before,
.back-site__round-in::after {
    content: '';
    width: 10%;
    height: 10%;
    border-radius: 50%;
    position: absolute;
    border: 1px solid #FFF;
}

.back-site__round-in::before {
    top: -5%;
    left: 0;
}

.back-site__round-in::after {
    right: 0;
    bottom: -5%;
}

@-webkit-keyframes move_around {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

/*.back-site finish*/
/*.vacancies*/
.uperlinedesktop::after {
    top: 3px;
    left: 0;
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
}

.uperlinedesktop-vac::after {
    top: -40px;
}

/*.vacancies*/
/*video test emotions*/
.s6 {
    position: relative;;
}

.video__h1 {
    font: normal normal 400 27px/41px 'Druk Text Wide', sans-serif;
    margin: 4.2% auto auto 2.6%;
}

.video__list {
    position: absolute;
    right: 10%;
    top: 10%;
    display: flex;
    justify-content: space-between;
    margin: 0 14% 50px 4%;
    left: 10%;
    bottom: 10%;
    align-items: center;
}

.video__item {
    background: url("../img/index/videoemotions.svg") center center no-repeat #181818;
    background-size: 112px 112px;
    width: 300px;
    height: 200px;
    opacity: .59;
    margin: 5px;
    color: #fff;
    font-size: 50px;
}

.video__nav-top {
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.emotions__item {
    padding: 10px;
}

.imotions__rounded {
    width: 62px;
    height: 62px;
    border-radius: 31px;
    margin: 13px 0 0 0;
    display: block;
}

.textCenter {
    text-align: center;
}

.emotions__link {
    text-align: left;
}

.emotions__item {
    margin: 0 18px;
}

.emotions__desk {
    margin: 2px 0 14px;
}

.emotions__ag {
    font: normal normal 700 20px/34px 'Montserrat', sans-serif;
}

.emotions {
    margin: -230px 0 90px;
}

.backgray {
    background-color: #181818;
}

.emotions__set {
    display: flex;
    width: 100%;
}

.video__action {
    position: relative;
    z-index: 0;
}

.video__action::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
    margin: auto;
    background: url(../img/index/videoemotions.svg) center center no-repeat;
    background-size: 360px;
    z-index: 1;
}

.video__nav {
    position: absolute;
    display: flex;
    width: 170px;
    margin: 0;
    height: 180px;
    flex-direction: column;
    justify-content: space-around;
    right: 0;
    bottom: 0;
}

.video__go, .video__a {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: block;
}

.video__go {
    position: relative;
}

.video__prev {
    position: absolute;
    background: url(../img/index/prev.svg) center center no-repeat;
    right: -10px;
    background-size: contain;
    /*! z-index: 1; */
    width: 41px;
    margin: auto;
    top: 0;
    bottom: 0;
}

.video__next {
    background: url('../img/index/next.svg') center center no-repeat;
    position: absolute;
    left: -10px;
    background-size: 41px 23px;
    width: 41px;
    margin: auto;
    top: 0;
    bottom: 0;
}

/*Arrow switcher*/
/*video test emotions*/

.ourworks {
    padding: 0;
    margin: 0;
}

.switcher .extender {
    display: none;
}

.show .extender {
    display: block;
}

.switcher {
    position: relative;
}

.switcher::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 17px;
    background: url("../img/index/arrowdown.svg") center center no-repeat;
    border-radius: 5px;
}

.switcher.show::before {
    background: url("../img/index/arrowup.svg") center center no-repeat;
}

/*video test emotions*/
/*Modal Video*/
.video__set, .callBack {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    display: none;
    z-index: 1;
    animation-name: down;
    animation-duration: 1s;
}

.backBlack::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1F1F1F;
    z-index: -1;
}

.close {
    width: 20px;
    height: 20px;
    background: url("../img/index/x.svg") center center no-repeat;
    background-size: contain;
    margin: 20px 30px 0 auto;
}

.video__nav-top {
    height: 87%;
    max-width: 100px;
    right: 5%;
    bottom: 10%;
    top: auto;
}

.video__window {
    display: flex;
    width: 240%;
}

.video__item {
    width: 490px;
    height: 300px;
}

/*Modal Video*/

#show-video-slide,
#show-video-slide ~ .video__item,
#show-slide,
#show-slide ~ .emotions__item {
    display: block;
    align-items: center;
}

/*Modal Video*/

.show .logisticH2 {
    color: #1378EF;
}

.folio__img:hover {
    filter: grayscale(0);
}

.folio__img {
    filter: grayscale(100%);
}

/*Background Orbit*/
.back-site__round-out {
    width: 320px;
    height: 320px;
    border-radius: 160px;
}

/*Background Orbit*/

/*Top link hover*/
.link-top {
    position: relative;
}

.link-top::after {
    content: '';
    position: absolute;
    bottom: -5px;
    display: block;
    width: 100%;
    background-color: #E5E5E5;
}

.nav__act::after,
.link-top:hover::after {
    height: 1px;
}

.link-top:active::after {
    height: 1px;
    background-color: #1378EF;
}

.link-top:active {
    color: #1378EF;
}

/*Top link hover*/
@media (orientation: portrait) {
    /*.sphere*/
    .sphere {
        overflow: hidden;
        position: absolute;
        top: -20vmax;
        right: 0;
        z-index: -1;
    }
}

@media (orientation: landscape) {
    /*.sphere*/
    .sphere {
        overflow: hidden;
        position: absolute;
        top: -15vmin;
        right: -30vmin;
        z-index: -1;
    }
}

/*.sphere*/
@media (max-width: 1070px) {
    /*Top link hover*/
    .nav__act::after,
    .link-top:hover::after {
        width: 100px;
        margin: auto;
        left: 0;
        right: 0;
    }

    /*Top link hover*/
    .s2, .s3, .s4, .s5, .s6, .s7, .s8 {
        margin-left: 15px;
        margin-right: 15px;
    }

    .logisticH2,
    .year-upperline {
        position: relative;
    }

    .logisticH2::after,
    .keyprinciples-direct::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        background-color: #FFFFFF;
        top: -20px;
    }

    .uperlinedesktop::after {
        content: none;
    }

    .uperlinedesktop-vac::after {
        content: '';
    }

    .year {
        font: normal normal 400 27px/40px 'Druk Text Wide', sans-serif;
    }

    .overno {
        overflow: auto;
    }

    .overyes {
        overflow: hidden;
    }

    .s1 {
        overflow: hidden;
        width: 100%;
        top: 0;
        position: fixed;
        z-index: 1;
    }

    .s1__p1 {
        width: 85px;
        margin: 0;
        display: block;
        position: absolute;
        top: 14px;
        left: 16px;
    }

    .burger {
        position: relative;
        width: 50px;
        height: 50px;
        margin: 15px 17px 15px auto;
        z-index: 2;
    }

    .s1__p2 {
        background-color: #232426;
        margin: -80px 0 0;
        position: relative;
        padding: 105px 0 0;
        z-index: 1;
    }

    .overno .s1__p2, .mobillehide {
        height: 0;
        display: none;
        z-index: 0;
    }

    .overyes .s1__p2 {
        height: 100vh;
        display: block;
    }

    .burger__lines {
        width: 49px;
        height: 49px;
        background-color: #232426;
        border-radius: 25px;
    }

    .burger__lines::before,
    .burger__lines::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 26px;
        height: 3px;
        background-color: #fff;
        display: block;
    }

    .overyes .burger__lines::before, .overyes .burger__lines::after {
        top: 16px;
    }

    .overyes .burger__lines::before {
        transform: rotate(45deg);
        top: 22px;
    }

    .overyes .burger__lines::after {
        transform: rotate(-45deg);
    }

    .burger__lines::before {
        top: 18px;
    }

    .burger__lines::after {
        bottom: 18px;
    }

    .s1__p1__p1 {
        font: normal normal 500 23px/23px 'Open Sans', sans-serif;
    }

    .s1__p1__p2 {
        font: normal normal bold 8px/8px 'Open Sans', sans-serif;
        display: block;
    }

    .s1__p2__p1 {
        text-align: center;
        padding: 24px 0 7px;
    }

    .s1__p2__p1__p1-fonthavy {
        font: normal normal bold 28px/38px "Druk Text Wide", sans-serif;
        margin: 225px auto 0;
    }

    .s2 {
        margin: 100px 0 0;
    }

    .s3__p1 {
        margin: 93px 0 0;
    }

    .s3__p2 {
        margin: 76px 0 22px;
    }

    .s3 {
        margin: 10px 0 0;
    }

    .s2, .s3, .s4, .footer {
        margin-right: 16px;
        margin-left: 16px;
    }

    .agtext {
        font: normal normal 400 16px/27px "Montserrat", sans-serif;
    }

    .year {
        display: flex;
        flex-wrap: wrap;
    }

    .year__historydate {
        font: normal normal 700 20px/30px "Montserrat", sans-serif;
        margin: 5px 10px;
    }

    .year__event {
        flex: 1 0 70%;
        margin: 5px 10px;
    }

    .rawdirect {
        display: flex;
        justify-content: space-between;
    }

    .agh2mob {
        font: normal normal 700 22px/33px "Druk Text Wide", sans-serif;
    }

    .agh2mob__min {
        font: normal normal 700 16px/27px "Montserrat", sans-serif;
    }

    .agh3mob {
        font: normal normal 700 19px/28px "Druk Text Wide", sans-serif;
    }

    /*Index page mobile*/
    .topics {
        margin: 0;
    }

    .bluebutton {
        margin: 1px 10px 10px 0;
        line-height: 30px;
        padding: 0 16px;
    }

    .aboutus {
        margin-top: 71px;
    }

    .aboutus__h2 {
        margin: 0;
    }

    .aboutus__h3 {
        margin: 8px 0 30px;
    }

    .year {
        padding: 0 0 30px;
    }

    .year__historydate {
        margin: 0;
    }

    .year__event {
        margin: 1px 0 0 4%;
    }

    .switcher::before {
        top: 25px;
        right: 10px;
    }

    .year-upperline::after {
        top: -10px;
    }

    .keyprinciples__h2 {
        margin-top: 50px;
    }

    .keyprinciples-direct {
        margin: 60px 0;
        padding: 0 10% 0 0;
    }

    .where-lw {
        margin: 0;
    }

    .logistic__h3 {
        margin: 5px 15px 0;
    }

    .logisticH2 {
        margin: 0;
        padding: 0 21% 10px 0;
    }

    .logisticH2::after {
        right: auto;
        left: 0;
        opacity: .5;
        bottom: 0;
        top: auto;
    }

    .show .logisticH2::after {
        top: auto;
        width: 62%;
        background-color: #1378EF;
        height: 2px;
        bottom: 10px;
    }

    .logistic__dirrection {
        padding: 15px 0 6px;
    }

    .switcher .extender {
        padding: 30px 0 0;
    }

    .evaluate {
        margin: 74px 10px 0;
    }

    .cta-bigbutton {
        margin-top: -10px;
        z-index: -1;
        height: 186px;
        width: 186px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cta-a {
        text-align: center;
        display: block;
        z-index: 0;
    }

    .testEmotions-h2 {
        margin: 0;
        padding: 40px 0 0;
    }

    .testEmotions-h3 {
        margin: 0;
        padding: 10px 0 0;
    }

    .folio__company {
        padding: 0 5px;
        display: flex;
        align-items: center;
    }

    .folio__img {
        margin: 0;
        height: 40px;
    }

    /*Index page mobile*/
    /*video*/
    .emotions {
        max-width: 320px;
        margin: auto;
    }

    .emotions__set {
        margin: 0 0 0;
    }

    #show-slide {
        display: block;
        margin: 0;
    }

    #show-video-slide ~ .video__item, #show-slide ~ .emotions__item {
        display: none;
        align-items: center;
    }

    .emotions__item {
        display: none;
    }

    .emotions {
        margin: 42px auto 0;
    }

    .video__button {
        font: normal normal 400 10px/17px 'Montserrat', sans-serif;
        position: absolute;
        right: 0;
        top: 118px;
        margin: auto;
    }

    .video__action::before {
        height: 120px;
        width: 120px;
        background-size: 180px;
        top: -430%;
        left: -19%;
    }

    .video__prev {
        right: -2px;
        margin: auto;
        height: 8px;
        width: 16px;
    }

    .video__next {
        left: -2px;
        width: 16px;
        margin: auto;
        height: 8px;
        background-size: contain;
    }

    .video__nav {
        position: initial;
        margin: 28px 0 0 auto;
        flex-direction: row;
        height: 60px;
        align-items: center;
        width: 80px;
    }

    .emotions__ag {
        text-align: left;
        margin: 5px 0 0;
        line-height: 31px;
    }

    .emotions__link {
        margin: 0;
        line-height: 25px;
    }

    .emotions__Text {
        margin: 9px 0 0;
    }

    /*video*/
    .ourworks {
        margin: 65px 0 0;
    }

    /*support*/
    .s3__p2-support {
        margin: 50px 0 15px;
    }

    /*support*/
    /*Buttons start here*/
    .s3contactinfo-press {
        line-height: 204px;
        text-align: center;
    }

    .buttonmiddle-footermob {
        margin: 27px auto 0 2px;
    }

    /*Buttons finish here*/
    .allinfo {
        padding: 0;
        margin: 0 0 15px;
    }

    .allinfo-footermob {
        margin: 40px 0;
    }

    .footer {
        position: relative;
    }

    .footer__p1 {
        margin: 15px 0;
    }

    .footer__p2 {
        margin: -6px 0 22px;
        font-size: 24px;
        line-height: 48px;
        font-family: "Montserrat", sans-serif;
    }

    .footer__p3 {
        padding: 0 0 5px;
        margin: 0;
    }

    .footer__p4 {
        margin: 0;
    }

    .footer__p5 {
        min-width: 274px;
        display: flex;
        justify-content: space-around;
        position: absolute;
        bottom: -103px;
    }

    .footer__p6 {
        margin: 8px 0 48px 0;
    }

    /*s7companies*/
    .s7companies {
    }

    /*.vacancies*/
    .formh1-vacancies {
        margin: 90px auto 50px;
    }

    .uperlinedesktop::after {
        top: -18px;
        left: auto;
    }

    .buttonmiddle-vacancies {
        margin: 35px auto 40px 16%;
    }

    /*.vacancies*/
    /*contacts*/
    .s2-contactdesk {
        margin-top: 144px;
        margin-bottom: 83px;
    }

    .contactinfo__2desk {
        margin: 0 0 40px;
    }

    .contactinfo__2desk {
        margin: 80px 0;
    }

    .s3contactinfo__2desk-p {
        margin: 0 0 16px;
    }

    .command {
        margin: 0 auto;
    }

    .connect-figcaption {
        margin: 0 0 40px;
    }

    .contact-img {
        width: 288px;
        height: 235px;
    }

    .command-h2 {
        margin: 25px 0 0;
    }

    .command-p {
        margin: 11px 0 0;
    }

    /*contacts*/
    /*Video Slider*/
    .video__h1 {
        margin: auto;
        font-size: 19px;
        max-width: 288px;
    }

    .video__window {
        max-width: 288px;
        max-height: 200px;
        margin: auto;
    }

    .video__list { /*! position: static; */
        top: 0;
        bottom: -5%;
        margin: auto;
        left: 0;
        max-width: 288px;
        right: 0;
    }

    .video__item {
    }

    .video__item {
        max-width: 288px;
        max-height: 200px;
        margin: auto;
        background-size: 227px;
    }

    .video__nav-top {
        position: absolute;
        margin: 0 auto 20%;
        top: auto;
        width: 30%;
        left: 0;
        right: 0;
    }

    /*Video Slider*/
    /*Modal forms*/
    .hide-form  {
        position: fixed;
        top: 0;
        background-color: #1d1d1d;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: none;
    }

    .modalJoinForm {
        max-width: 280px;
        margin: auto;
    }

    .modaljoinToUs__h3 {
        font: normal normal 700 19px/28px 'Druk Text Wide', sans-serif;
        color: #FFFFFF;
        margin: 0;
    }

    .modaljoinToUs__h4 {
        margin: 15px 0 0;
    }

    .modalJoin__text {
        font: normal normal 400 16px/27px 'Montserrat', sans-serif;
        color: #FFFFFF;
    }

    .modalJoin-center {
        text-align: center;
    }

    .modalJoinForm__labels {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 30px 0 0;
    }

    .modalJoinForm__block {
        padding: 0;
        margin: 4px 0;
    }

    .modalJoin__input {
        background-color: transparent;
        border-width: 0;
        border-bottom-width: 0px;
        border-bottom: 1px solid #E5E5E5;
        display: block;
        width: 100%;
    }

    /*Modal forms*/
    /*Orbit*/
    .back-site__round-out {
        width: 40vmax;
        height: 40vmax;
        border-radius: 20vmax;
        top: -40vmax;
        bottom: 0;
        margin: auto;
    }

    /*Orbit*/
}

@media (min-width: 1071px) {
    .year__historydate, .agh3mob, .agh2mob__min {
        font: normal normal 400 27px/40px "Druk Text Wide", sans-serif;
    }

    .keyprinciples__hide,
    .agtext {
        font: normal normal 400 16px/27px "Montserrat", sans-serif;
    }

    .folio__cli {
        margin: 180px 0 0;
        font: normal normal 400 20px/34px "Montserrat", sans-serif;
    }

    .agh2mob__min {
        font: normal normal 700 16px/27px "Montserrat", sans-serif;
    }

    .agh2support {
        font: normal normal 700 30px/45px "Montserrat", sans-serif;
    }

    .agh2desk {
        font: normal normal 700 24px/41px "Montserrat", sans-serif;
    }

    .agh1desk {
        font: normal normal 700 37px/55px "Druk Text Wide", sans-serif;
    }

    /*Top menu nav started*/
    .burger, .hidedesktop {
        display: none;
    }

    .show .logisticH2::after,
    .year-upperline::after,
    .upperline::after {
        content: none;
    }

    .s1, .s2, .s3, .s4, .s5, .s6, .s7, .s8 {
        max-width: 1300px;
        padding: 0 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .s1 {
        display: flex;
        justify-content: space-between;
    }

    .s1__p1 {
        display: flex;
        width: 158px;
        height: 78px;
        margin: 35px 0 0;
        flex: 1 0 auto;
        flex-direction: column;
        justify-content: center;
    }

    .s1__p2 {
        display: flex;
        margin: 22px 0 0;
        flex: 2 0 auto;
        justify-content: flex-end;
        align-items: center;
    }

    .s1__p1__p1 {
        font: normal normal 700 45px/45px 'Open Sans', sans-serif;
    }

    .s1__p2__p1 {
        margin: 5px 0 0 5.4%;
    }

    .s1__p1__p2 {
        font: normal normal 400 16px/16px 'Open Sans', sans-serif;
        letter-spacing: .7px;
    }

    .link {
        line-height: 24px;
    }

    /*Top menu nav finished*/
    /*vacancies start*/
    .agh1desk-doit {
        margin: 131px auto 0;
        max-width: 510px;
        text-align: center;
    }


    .bigbutton-vacancies {
        width: 260px;
        height: 260px;
        border-radius: 130px;
        margin: 30px auto 180px;
    }

    /*vacancies finish*/
    .s1__p2__p1__p1-fonthavy {
        font: normal normal 700 60px/82px "Druk Text Wide", sans-serif;
        margin: 347px auto 430px 0;
        max-width: 50%;
    }

    /*Index page start*/
    .h1index {
        margin: 155px 0 0;
        max-width: 60%;
    }

    .h1index-big {
        font: normal normal 700 78px/90px "Druk Text Wide", sans-serif;
        display: block;
    }

    .h1index-min {
        font: normal normal 400 30px/41px "Druk Text Wide", sans-serif;
        display: block;
        margin: 45px 0 0;
    }

    .topics {
        max-width: 580px;
        margin: 50px 0 390px 0;
    }

    .topics__button {
        font: normal normal 400 21px/32px "Montserrat", sans-serif;
        padding: 2px 0;
        display: block;
    }

    .aboutus__h3 {
        margin: 20px 0 30px;
    }

    .year__set {
        display: flex;
        flex-wrap: wrap;
    }

    .year {
        flex: 1 1 30%;
    }

    .year__historydate {
        margin: 36px 0 27px;
        width: 90px;
    }

    .up-bottom::after {
        top: 116%;
    }

    .year__event {
        max-width: 360px;
        margin: 0 6% 12px 0;
    }

    .where {
        padding-top: 125px;
    }

    .keyprinciples {
        display: flex;
        margin-top: 140px;
    }

    .keyprinciples__h2 {
        font: normal normal 400 20px/34px 'Montserrat', sans-serif;
    }

    .keyprinciples__p {
        margin: 0;
    }

    .whereText {
        font: normal normal 400 22px/33px "Montserrat", sans-serif;
        padding: 19px 11px;
        margin: 0 10px;
    }

    .listworks__blueball {
        height: 67px;
        width: 67px;
        border-radius: 34px;
    }

    .listworks {
        margin: 70px 0;
        flex-wrap: wrap;
    }

    .logistic__p5 {
        display: flex;
    }

    .logistic__items {
        padding: 0 0 0 13.3%;
        width: 92.7%;
    }

    .logistic__dirrection {
        margin: 0 0 0 0;
    }

    .switcher::before {
        top: 52px;
    }

    .switchDeskNone.switcher::before {
        content: none;
    }

    .switchDeskNone.switcher .extender {
        display: flex;
    }

    .keyprinciples__hide {
        margin: 13px 0 12px;
    }

    .maindirrection {
        margin: 20px 0 60px;
    }

    .agh1desk-nofull {
        margin: 0 auto 0;
        max-width: 900px;
    }

    .cta {
        margin-top: 170px;
    }

    .cta-a {
        z-index: 0;
    }

    .testEmotions {
        margin-top: 177px;
    }

    .imotions__rounded {
        width: 82px;
        height: 82px;
        border-radius: 41px;
        margin: 35px auto 0;
    }

    .textCenter {
        text-align: center;
    }

    .testEmotions-h3 {
        margin: 22px 0 0;
    }

    /*Index page video start*/
    @keyframes slide {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .emotions__item {
        display: none;
    }

    .emotions__set {
        width: 118.8%;
        margin-left: -35%;
    }

    .video__nav {
        width: 183px;
        height: 155px;
    }

    .emotions__ag {
        font: normal normal 700 20px/34px 'Montserrat', sans-serif;
        margin: 9px 0 2px;
    }

    .emotions__item {
        flex: 0 0 452px;
        padding: 0 40px 30px;
        display: flex;
        flex-direction: column;
    }

    .emotions__Text {
        margin: 25px 0;
        line-height: 26px;
    }

    .video__action {
        height: 300px;
        width: 337px;
        line-height: 300px;
        text-align: right;
        top: -127px;
        right: 16px;
    }

    .video__nav-top {
        height: 71%;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .video__go {
        width: 70px;
        height: 70px;
        border-radius: 35px;
        margin-top: 10px;
    }

    .videoSlidePlus {
        left: 10px;

    }

    /*Index page video finished*/
    /*Index page finished*/
    /*vacancies */
    .s2__p1-vacancies {
        margin: 190px 0 85px;
    }

    .s3__flex {
        display: flex;
    }

    .s3__p1 {
        margin: 30px 0 0;
        flex: 1 0 20%;
    }

    .logistic__h3 {
        margin: 7px 0 0;
    }

    .s3__p2 {
        width: 50%;
        margin: 0;
    }

    .s3__p3 {
        width: 48%;
        margin: 0 1%;
    }

    .s3__p4 {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 2% 65px 0;
    }

    .switchDeskNone {
        padding: 20px 2% 0 0;
        margin: 25px 0 53px;
    }

    .s3__p5 {
        padding: 0 0 0 13.3%;
        width: 82.7%;
    }

    .support__h2 {
        margin: 0;
        font-size: 20px;
        line-height: 34px;
    }

    .footer__p1 {
        margin: 18px 0 0;
    }

    .s4__supportpage {
        margin-top: 115px;
        margin-bottom: 180px;
    }

    .logistic {
    }

    .where__h3 {
        max-width: 760px;
        margin: 0;
    }

    .compactdesktop {
        max-width: 25%;
    }

    .desktop65 {
        max-width: 65%;
        margin: 43px 0 0;
    }

    .ourworks {
        max-width: initial;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 33px;
        margin-bottom: 160px;
    }

    .folio-works {
        margin-top: 50px;
    }

    .folio__company {
        max-width: 300px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 15px;
    }

    /*buttons*/
    .buttonmiddle {
        margin: 0 0 0 auto;
    }

    .buttonmiddle-vacancies {
        margin-right: 6.5%;
    }

    /*forms start*/
    .footer__boxes {
        margin: -7px 0 30px;
    }

    .footer__form__part {
        padding: 0 0 0 7.5%;
        max-width: 380px;
    }

    .formh1 {
        font: normal normal 400 27px/31px 'Druk Text Wide', sans-serif;
    }

    .logisticH2 {
        padding: 32px 0 27px;
        line-height: 36px;
    }

    .formh1-vacancies {
        margin: 55px 0 43px;
        padding: 6px 0 0;
    }

    .footer__formh1-vacancies {
        margin: 0;
    }

    .vacancies-div {
        position: relative;
    }

    .vacancies-centered {
        position: absolute;
        top: 0;
        right: 6.7%;
        bottom: 0;
        margin: auto;
    }

    .content-vacancies {
        margin: 80px 0 25px;
    }

    .vacancies-half {
        width: 52%;
    }

    .content-vacancies-first {
        margin: 117px 0 27px;
    }

    .vacancies-p {
        margin: 0 0 17px;
    }

    .link-foot {
        margin: 28px 10% 40px 0;
    }

    #msg {
        min-height: 75px;
    }

    .footer__form__input {
        background-color: transparent;
        border-width: 0;
        border-bottom: 1px solid #E5E5E5;;
        display: block;
        width: 100%;
    }

    .buttonmiddle-footer {
        margin: 31px 0 0 36%;
    }

    /*forms finish*/
    /*footer*/
    .footer__box {
        max-width: 913px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 0 auto;
        padding-left: 50px;
    }

    .footback {
        position: relative;
        width: 61%;
    }

    .footer__desktop {
        flex: 0 0 32%;
        margin: 71px 0 86px;
    }

    .footer__narrow {
        flex: 0 0 32%;
    }

    .footer__wide {
        flex: 0 0 36%;
    }

    .footer__nohead {
        padding: 42px 0 0;
    }

    .footer__nohead-last {
        position: relative;
        left: -3%;
        flex: 0 0 34%;
    }

    .footer__p3 {
        margin: 0;
    }

    .footer__p4 {
        margin: 16px 5% -14px 0;
    }

    /* form */
    .footer_form {
        width: 35%;
        display: inline-block;
    }

    .footback::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .footback::before {
        background-color: #121212;
        z-index: -3;
    }

    .footer__setboxes {
        display: flex;
    }

    .footer__p5 {
        margin: -40px 0 0 auto;
        max-width: 870px;
        display: flex;
    }

    .footer__p6 {
        margin-right: 1%;
    }

    /*contacts*/
    .contacth1 {
        margin-top: 380px;
        margin-bottom: 460px;
    }

    .s2-contactdesk {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap
    }

    .s3contactinfo__2desk {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 70px;
        margin-bottom: 229px;
    }

    .contactinfo__2desk {
        flex: 0 0 33%;
        overflow: hidden;
        margin-top: 122px;
    }

    .s3contactinfo__2desk-pulse {
        flex: 2 2 23%;
        margin: 50px 0 0;
        padding: 80px 0 20px 2%;
    }

    .s3contactinfo__2desk-p {
        line-height: 40px;
    }

    .cta-bigbutton,
    .s3contactinfo-bigbutton {
        height: 260px;
        width: 260px;
        border-radius: 130px;
        margin-top: -20px;
    }

    .cta-bigbutton {
        margin-top: -40px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
    }

    .s3contactinfo-press {
        line-height: 260px;
        text-align: center;
    }

    .connect-figcaption {
        margin: -5px 0 0 0;
    }

    .command {
        margin: 0;
    }

    .contact-img {
        width: 427px;
        height: 508px;
    }

    .command-h2 {
        margin-bottom: 17px;
    }

    .command-p {
        line-height: 38px;
    }

    /*contacts*/
    /*Video slider*/
    .video__h1 {
        margin: 0.6% 0 0 2.7%;
    }

    .video__list {
        padding: 10px;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 0;
        top: 0;
    }

    .video__slides {
        position: absolute;
        top: 0;
        bottom: -22%;
        margin: auto;
        height: 220px;
        width: 80%;
        overflow: hidden;
    }

    .video__item {
        width: 300px;
        height: 200px;
        background-size: 220px;
        margin: 10px;
        flex: 1 0 300px;
        max-width: 300px;
    }

    .video__nav-top {
        height: 87%;
        max-width: 100px;
        right: 6%;
        bottom: 13%;
        top: auto;
    }

    .videoSlider-close {
        position: relative;
        z-index: 1;
    }

    /*Video slider*/
    /*Modal forms*/
    .hide-form  {
        position: fixed;
        top: 0;
        background-color: #1d1d1d;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .modaljoinToUs__h3 {
        font: normal normal 400 27px/41px 'Druk Text Wide', sans-serif;
        color: #FFFFFF;
    }

    .modalJoin__text {
        font: normal normal 400 16px/27px 'Montserrat', sans-serif;
        color: #FFFFFF;
    }

    .modalJoin-center {
        text-align: center;
    }

    /*Modal forms*/
    /*Orbit*/
    .back-site__round-out {
        width: 40vmin;
        height: 40vmin;
        border-radius: 20vmin;
        top: -30vmin;
        bottom: 0;
        margin: auto;
    }

    /*Orbit*/
}

/*scroll animation*/
.aboutus {
    position: relative;
}

/*hide scroll*/
.listworks, .emotions__set, .video__list {
    overflow-x: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.listworks::-webkit-scrollbar,
.emotions__set::-webkit-scrollbar,
.video__list::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.listworks, .emotions__set, .video__list {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@keyframes appear {
    from {
        opacity: 0;
        top: 5%;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

.appear {
    animation: 2s appear;
}

@keyframes down {
    from {
        margin-top: -100px;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}

.emotions__item, .video__item {
    display: none;
}


#show-slide, #show-video-slide,
#show-video-slide ~ .video__item,
#show-slide ~ .emotions__item,
.emotions__item {
    animation-name: slide;
    animation-duration: 1s;
}

