@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #1F1F1F;
    margin: 0;
}

.overno {
    overflow: auto;
}

.overyes {
    overflow: hidden;
}

.s1 {
    overflow-x: hidden;
}

.s1__p1 {
    width: 80px;
    margin: 0;
    display: block;
    text-decoration: none;
    position: absolute;
}

.burger {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 70px 7px 0 auto;
    z-index: 1;
}

.s1__p2 {
    background-color: #232426;
    margin: -60px 0 0;
    position: relative;
    padding: 105px 0 0;
    height: 100vh;
}

.hide + .s1__p2 {
    visibility: collapse;
    opacity: 0;
    left: 100%;
    transition: all .2s ease-out;
}

.show + .s1__p2 {
    visibility: visible;
    opacity: 1;
    left: 0;
    transition: all .5s ease-out;
}

.burger__lines {
    width: 49px;
    height: 49px;
    background-color: #232426;
    border-radius: 25px;
}

.burger__lines::before,
.burger__lines::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 26px;
    height: 3px;
    background-color: #fff;
    display: block;
}

.show .burger__lines::before, .show .burger__lines::after {
    top: 15px;
}

.show .burger__lines::before {
    transform: rotate(45deg);
    top: 21px;
}

.show .burger__lines::after {
    transform: rotate(-45deg);
}

.burger__lines::before {
    top: 18px;
}

.burger__lines::after {
    bottom: 18px;
}

.s1__p1__p2 {
    list-style-type: none;
    font: normal normal bold 8px/12px 'Open Sans', sans-serif;
    color: #FFFFFF;
}

.s1__p2__p1__p1-fontwhite {

}

.fontwhite {
    color: #cccccc;
}

.s1__p2__p1__p1 {
    text-decoration: none;
    font: normal normal 400 16px/27px 'Montserrat', sans-serif;
    text-align: left;
}

.s1__p2__p1 {
    list-style-type: none;
    text-align: center;
    padding: 24px 0 7px;
}

.s1__p2__p1__p1-fonthavy {
    font: normal normal bold 28px/38px "Arial", sans-serif;
}

/*.back-site*/
.back-site {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    display: flex;
}

.vl1, .vl2, .vl3, .vl4 {
    width: 25%;
    box-shadow: 0 0 1px #d6d6d6 inset;
}

.vl1::after, .vl2::after, .vl3::after, .vl4::after {
    width: 2px;
    height: 10px;
    content: '';
    display: block;
    position: absolute;
    background-color: #7d7d7d;
    margin-left: -1px;
    top: -10%;
}

.vl1::after {
    animation: 5s linear 35s infinite normal move_bottom;
}

.vl2::after {
    animation: 15s linear 25s infinite normal move_bottom;
}

.vl3::after {
    animation: 25s linear 15s infinite normal move_bottom;
}

.vl4::after {
    animation: 35s linear 5s infinite normal move_bottom;
}

@-webkit-keyframes move_bottom {
    from {
        top: -10%;
    }
    to {
        top: 110%;
    }
}

.back-site__round-out, .back-site__round-in {
    display: block;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.back-site__round-out {
    position: absolute;
    width: 50vmin;
    height: 50vmin;
    border-radius: 49vmin;
    box-shadow: 0 0 1px #1F1F1F;
}

.back-site__round-in {
    position: relative;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    top: 12.5%;
    background-color: #030370a8;
    transform: rotate(0);
    animation: 70s linear 0s infinite normal move_around;
}

.back-site__round-in::before,
.back-site__round-in::after {
    content: '';
    width: 10%;
    height: 10%;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 1px #1F1F1F;
}

.back-site__round-in::before {
    top: -5%;
    left: 0;
}

.back-site__round-in::after {
    right: 0;
    bottom: -5%;
}

@-webkit-keyframes move_around {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
