# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\wamp64\www\dmitriy.site\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/deployment.xml
/dmitriy.site.iml
/modules.xml
/php.xml
/vcs.xml
/jsLibraryMappings.xml
